body {
  background-color: #2c2b30;
  margin: 0;
  padding: 0;
  color: white;
  width: 100%;
}

#navbar {
  background-color: #e6e6e6;
  width: 100%;
  height: 5rem;
  position: fixed;
  color: black;
  overflow: hidden;

}

nav {
  margin-left: 3.5rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  font-size: 15px;
}


a {
  color: black;
  text-decoration: none;
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* margin: 5rem; */

nav a:hover {
  background-color: white;
}

#logo {
  height: 45px;
  border-radius: 50%;
  margin-top: -1.3rem;
}


#GVQ_image {
  width: 40rem;
}



#gvqtext {
  width: fit-content;
  display: block;
  font-family: Algerian;
  margin-left: 3.5rem;
  font-size: 1.5rem;
  margin-top: -2.7rem;
}

#bigbox {
  display: flex;
  flex-direction: column;
  width: 71rem;
  margin-left: 2rem;
  padding: 0rem 3rem;
  color: #ededed;
  border-radius: 20px;
  border: 4px solid #ededed;
  height: 45rem;
}

#footer-contactus {
  width: max-content;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: 1px solid #1b1b1d;
}

button:hover {
  background-image: linear-gradient(to bottom right, #8698f3, #5a71e2, #345bf9, #3636f7);
}

#contact {
  display: inline block;
  width: 20rem;
  font-size: 25px;
}

#contact1 {
  display: inline block;
  width: fit-content;
  margin-left: 55rem;
  margin-top: -25rem;
}

#contact1 a {
  color: white;
}

input {
  font-size: 16px;
  width: 30rem;
  height: 2rem;
}

#message {
  font-size: 18px;
  width: 30rem;
}

h1 {
  margin-left: 30rem;
}

i {
  margin-right: 0.2rem;
}

#footer {
  width: 100%;
  font-size: 15px;
  text-align: center;
  background-color: #0a0a0a;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1.5rem;
  padding-left: 1rem;
  margin-bottom: -10rem;
  margin-left: -2.5rem;
  margin-top: 1rem;
  margin-right: -3rem;
}


#footer-contactus {
  width: max-content;
}

#footer_linkbox a {
  color: #2c2b30
}

#footer_linkbox {
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
}


#footer_contactbox {
  display: flex;
  flex-direction: column;
  padding-left: 59rem;
  text-align: left;
  color: #2c2b30;
}

#call_1 {
  padding-left: 0.5rem;
}

#footer1 {
  display: flex;
  flex-direction: row;
  text-align: left;
}

#footer {
  background-color: #d6d6d6;
  color: #2c2b30;

}





@media screen and (max-width: 1300px) {
  #footer_contactbox {
    padding-left: 54rem;
  }

  #bigbox {
    width: 70rem;
  }
}

@media screen and (max-width: 1260px) {
  #contact1{
    margin-left: 50rem;
  }

  #bigbox{
    width: 66rem;
  }
}

@media only screen and (max-width: 1200px) {
  #footer_contactbox {
    padding-left: 47rem;
  }

  #contact1 {
    margin-left: 44rem;
  }

  #bigbox{
    width: 59rem;
  }

  h1 {
      margin-left: 24rem;
  }
}

@media only screen and (max-width: 1090px) {
  #footer_contactbox {
    padding-left: 37rem;
  }

  #bigbox{
    width: 53rem;
  }

  #contact1 {
      margin-left: 38rem;
  }
}

@media only screen and (max-width: 990px) {
  #contact1 {
    margin-left: 34rem;
  }

  h1 {
    margin-left: 22rem;
  }

  #bigbox{
    width: 49rem;
  }
}

@media screen and (max-width: 930px) {
  #footer_contactbox {
    padding-left: 30rem;
  }

  input,
  #message {
    width: 25rem;
  }

  #contact1 {
    margin-left: 27rem;
  }

  #bigbox{
    width: 42rem;
  }
}

@media screen and (max-width: 820px) {
  #footer_contactbox {
    padding-left: 24rem;
  }

  #verticle {
    height: 200px;
  }

  #bigbox {
    height: auto;
  }

  #contact1 {
    display: contents;
  }

  h1 {
    margin-left: 16rem;
  }

  #bigbox{
    width: rem;
  }
}

@media screen and (max-width: 720px) {
  #footer_contactbox {
    padding-left: 17rem;
  }

  #footer {
    font-size: 12px;
  }

  #footer1 {
    height: 10rem;
  }

  #verticle {
    height: 150px;
  }

  h1 {
      margin-left: 10rem;
  }

  #bigbox{
    width: 29rem;
  }
}

@media only screen and (max-width: 600px) {
  #footer_contactbox {
    padding-left: 13rem;
  }

  input,
  #message {
    width: 20rem;
  }

  h1 {
    margin-left: 6rem;
  }

  #bigbox{
    width: 23rem;
  }
}

@media screen and (max-width: 503px) {
  #footer_contactbox {
    padding-left: 1rem;
  }

  #copyright {
    padding-left: 3rem;
  }

  #contact {
    font-size: 20px;
  }

  h1 {
    margin-left: 4rem;
  }

  input,
  #message {
    width: 15rem;
    font-size: 14px;
  }

  input {
    height: 1.5rem;
  }

  #bigbox{
    width: 17rem;
  }
}

@media screen and (max-width: 432px) {
  #footer {
    font-size: 16px;
  }

  #footer1 {
    height: 12rem;
  }

  h1 {
    margin-left: 4rem;
  }

  #contact{
    width: fit-content;
  }

  #bigbox{
    width: 15rem;
  }
}

@media screen and (Max-width:400px) {
  body {
    font-size: 15px;
  }

  nav {
    font-size: 11px;
  }

  #contact {
    margin-left: 1rem;
    width: 15rem;
  }

  #bigbox {
    width: 19rem;
    margin-left: 0.5rem;
    /* height: 70rem; */
    padding: 0rem 1rem;
  }

  #contact1 {
    margin-top: 4rem;
    width: 15rem;
    margin-left: 0rem;

  }

  input {
    font-size: 15px;
    width: 17rem;
    height: 2rem;
  }

  #message {
    width: 17rem;
    font-size: 15px;
  }

  h1 {
    margin-left: 3rem;
  }


  #footer_contactbox {
    /* padding-left: 6rem; */
  }


  #contact1 a {
    color: white;
  }
}

/* start coding from here */
@media screen and (max-width: 385px) {
  #navbar {
    height: 4.5rem;
  }

  #call_1,
  #email_1 a,
  #linkedin a,
  #instagram a,
  #facebook a,
  #twitter a {
    /* color: transparent; */
    display: flow;
    height: 6px;
  }

  #call_icon,
  #email_icon,
  #linkedin_icon,
  #instagram_icon,
  #facebook_icon,
  #twitter_icon {
    /* color: #2C2B30; */
  }

  #footer_contactbox {
    overflow: hidden;
  }

  #copyright {
    display: flex;
  }

  #footer_linkbox {
    padding-left: 1.5rem;
  }
}

@media screen and (max-width: 360px) {
  #navbar {
    height: 4rem;
  }

  nav {
    font-size: 12px;
  }

  #bigbox {
    width: 18rem;
  }

  #call_1,
  #email_1 a,
  #linkedin a,
  #instagram a,
  #facebook a,
  #twitter a {
    color: transparent;
    display: flow;
    height: 6px;
  }

  #call_icon,
  #email_icon,
  #linkedin_icon,
  #instagram_icon,
  #facebook_icon,
  #twitter_icon {
    color: #2C2B30;
  }

  #footer_linkbox {
    width: 7.7rem;
  }
}

@media screen and (max-width: 340px) {
  nav {
    display: flow;
  }

  #navbar {
    height: 4.5rem;
  }

  #gvqtext {
    font-size: 1rem;
  }

  #copyright {
    font-size: 12px;
  }

  #bigbox {
    width: 15rem;
  }

  input,
  #message {
    width: 14rem;
  }

  form {
    margin-left: -1rem;
  }

  h1 {
    margin-left: 3rem;
  }
}

@media screen and (max-width: 285px) {
  #copyright {
    padding-left: 2rem;
  }

  #bigbox {
    width: 13rem;
  }

  form {
    margin-left: -1.3rem;
  }

  input,
  #message {
    width: 13rem;
  }

  h1 {
    margin-left: 2rem;
  }
}
